.content {
	margin-top: 41px;

	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}

.content > table {
	margin-bottom: 0;
}

.content > table > thead {
	background-color: rgb(246, 255, 231);
}